/* ==========================
   ESTILO GENERAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
    color:white;
    min-height:100vh;
}

/* ==========================
   ENCABEZADO
========================== */

header{
    text-align:center;
    padding:40px;
}

header h1{
    font-size:3rem;
}

header p{
    margin-top:10px;
    font-size:1.2rem;
}

/* ==========================
   CONTENEDOR
========================== */

.contenedor{
    width:90%;
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:30px;
}

/* ==========================
   TARJETAS
========================== */

.tarjeta{

    background:white;
    color:#1f2937;

    border-radius:20px;

    padding:25px;

    text-align:center;

    transition:0.4s;

    box-shadow:0 10px 20px rgba(0,0,0,.3);
}

.tarjeta:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.tarjeta img{

    width:90px;

    margin-bottom:15px;
}

.tarjeta h2{

    margin-bottom:10px;
}

.tarjeta p{

    margin-bottom:20px;

    line-height:1.5;
}

/* ==========================
   BOTÓN
========================== */

.boton{

    display:inline-block;

    background:#2563eb;

    color:white;

    text-decoration:none;

    padding:12px 25px;

    border-radius:50px;

    font-weight:bold;

    transition:.3s;
}

.boton:hover{

    background:#1d4ed8;

    transform:scale(1.05);
}

/* ==========================
   PIE DE PÁGINA
========================== */

footer{

    text-align:center;

    padding:30px;

    margin-top:40px;

    background:rgba(0,0,0,.2);
}
nav{
    background:#18264d;
    display:flex;
    justify-content:center;
    gap:45px;
    padding:18px;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#00e5ff;
}
.robot{
    font-size:120px;
    display:inline-block;
    margin:20px auto;
    text-align:center;
    animation: flotar 1s infinite alternate;
}
}

@keyframes flotar{
    from{
        transform: translateY(0px);
    }

    to{
        transform: translateY(-50px);
    }
}
